{% extends 'layout.html' %}
{% block title %}ovvvll{% endblock %}

{% block content %}

<div class="book">
    <h3 style="margin-top: 50px;">{{ product.name }}</h3>
    <h3 style="margin-top: 10px;">{{ product.price }}</h3>
</div>

<div  style="width: 100%; height: 600px; display: flex; justify-content: left; padding-left: 150px; margin-top: -70px;" >
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
</div>

{% if images %}
    <div>
        {% for image in images %}
            <div class="baby" style="width: 100%; height: 600px; display: flex; justify-content: left;">
                <img src="{{ image.image.url }}" alt="{{ product.name }}">
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}